<h2>My Apartments</h2>
<div>
  <label for="apartment-name">Apartment name: </label>
  <input id="apartment-name" #apartmentName>
  <br>
  <br>
  <label for="apartment-address">Address: </label>
  <input id="apartment-address" #apartmentAddress>
  <br>
  <br>
  <label for="apartment-monthlyRent">Monthly Rent: </label>
  <input id="apartment-monthlyRent" #apartmentMonthlyRent>
  <br>
  <br>
  <label for="apartment-sqft">Square feet: </label>
  <input id="apartment-sqft" #apartmentSqft>
  <br>
  <br>
  <label for="apartment-bedrooms">Bedrooms: </label>
  <input id="apartment-bedrooms" #apartmentBedrooms>
  <br>
  <br>
  <label for="apartment-bathrooms">Bathrooms: </label>
  <input id="apartment-bathrooms" #apartmentBathrooms>
  <br>
  <br>
  <label for="apartment-comments">Comments: </label>
  <input id="apartment-comments" #apartmentComments>

  <!-- (click) passes input value to add() and then clears the input -->
  <button class="add-button" (click)="add(apartmentName.value, apartmentAddress.value, apartmentMonthlyRent.value,
  apartmentSqft.value, apartmentBedrooms.value, apartmentBathrooms.value, apartmentComments.value);">
    Add apartment
  </button>
</div>
<ul class="apartments">
  <li *ngFor="let apartment of apartments">
    <a routerLink="/detail/{{apartment.id}}">
      <span class="badge">{{apartment.id}}</span> {{apartment.name}}
    </a>
  </li>
</ul>
