<h2>My Apartments</h2>
<div>
  <h2>Sort by: </h2>
  <button class = "sortByRent" (click)="sortByRent();">Monthly Rent</button>
  <button class = "sortBySqft" (click)="sortBySqft();">Sqft</button>
  <button class = "sortByBedrooms" (click)="sortByBed();">Bedrooms</button>
  <button class = "sortByBathrooms" (click)="sortByBath();">Bathrooms</button>
  <br>
  <br>
  <button class = "sortByRent" (click)="sortByRentDesc();">Monthly Rent Desc.</button>
  <button class = "sortBySqft" (click)="sortBySqftDesc();">Sqft Desc.</button>
  <button class = "sortByBedrooms" (click)="sortByBedDesc();">Bedrooms Desc.</button>
  <button class = "sortByBathrooms" (click)="sortByBathDesc();">Bathrooms Desc.</button>
</div>
<br>
<ul class="apartments">
  <li *ngFor="let apartment of apartments">
    <a routerLink="/detail/{{apartment.id}}">
      <span class="badge">{{apartment.id}}</span> {{apartment.name}}
    </a>
  </li>
</ul>
<div>
  <h2>To add an apartment, fill in information below. </h2>
  <label for="apartment-name">Apartment name: </label>
  <input id="apartment-name" #apartmentName>
  <br>
  <br>
  <label for="apartment-address">Address: </label>
  <input id="apartment-address" #apartmentAddress>
  <br>
  <br>
  <label for="apartment-monthlyRent">Monthly Rent: </label>
  <input id="apartment-monthlyRent" #apartmentMonthlyRent>
  <br>
  <br>
  <label for="apartment-sqft">Square feet: </label>
  <input id="apartment-sqft" #apartmentSqft>
  <br>
  <br>
  <label for="apartment-bedrooms">Bedrooms: </label>
  <input id="apartment-bedrooms" #apartmentBedrooms>
  <br>
  <br>
  <label for="apartment-bathrooms">Bathrooms: </label>
  <input id="apartment-bathrooms" #apartmentBathrooms>
  <br>
  <br>
  <label for="apartment-comments">Comments: </label>
  <input id="apartment-comments" #apartmentComments>

  <!-- (click) passes input value to add() and then clears the input -->
  <button class="add-button" (click)="add(apartmentName.value, apartmentAddress.value, apartmentMonthlyRent.value,
  apartmentSqft.value, apartmentBedrooms.value, apartmentBathrooms.value, apartmentComments.value);">
    Add apartment
  </button>
</div>
